*
{
  margin: 0;
  padding: 0;
}
.back{
  background-image:url("imagesNews/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.text{
  max-width: 650px;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255,.4);
  box-shadow: 0 15 px 20px rgba(0,0,0,.2);
  color: aliceblue;
  font-size: 60px;
  font-family: Garamond, serif;

}
.wpb_wrapper
{
  padding: 50px;
 text-align: center;
  color: #808080; font-size: 30px;
  font-family: Garamond, serif;
}
.some-page-wrapper {
  margin: 15px;
 
}

.rowa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  
}

.columna {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
}

.rc11 img{
  width: 70%;
  
}
.rc12 
{
 position: relative;
 top: 150px;
  font-size: 20px;
  text-align: justify;
  text-indent: 30px;
  font-family: Garamond, serif;
  

}
.rc3
{
  text-align: center;
  font-family: Garamond, serif;
  font-size: 15px;
  color: #808080;
}

@media screen and (max-width: 600px) {
  .rc11 img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rc12 {
    
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}
.rc21 
{
  
  text-align: justify;

  font-size: 20px;
  padding: 50px;
  font-family: Garamond, serif;
  color: rgb(5, 8, 42);

}

.rc22
{
  padding: 100px;
 
  text-align: justify;
  
 
  

}
.rc22 .common-btn{
  padding: 18px 40px;
background-color: white;
outline: none;
border: 4px solid black;
font-weight: bold;
font-family: Garamond, serif;
font-size: 20px;
color: gold;
cursor: pointer;
}
@media screen and (max-width: 600px) {
  .rc22 .common-btn {
    padding: 10px 20px;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
.back {width: 100%;


}}
@media screen and (max-width: 600px) {
  .back .text{
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}
@media screen and (max-width: 600px) {
  .wpb_wrapper {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
  
  .rc21  {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
  
}
