* {
  margin: 0;
  padding: 0;
}

.back {
  background-image: url("imagesNews/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.text {
  max-width: 650px;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 15 px 20px rgba(0, 0, 0, .2);
  color: aliceblue;
  font-size: 60px;
  font-family: Garamond, serif;

}

.wpb_wrapper {
  flex: 100%;
  margin-top: 50px;
  text-align: center;
  color: #808080;
  font-size: 30px;
  font-family: Garamond, serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;

}



.flex-item-left {
  padding: 10px;
  flex: 40%;

}

.flex-item-left img {
  width: 50%;
  

}

@media (max-width: 650px) {

  .flex-item-left img {
    width: 100%;
  }
}

.flex-item-right {

  margin-top: 80px;
  flex: 60%;
  font-family: Garamond, serif;
  font-size: 20px;
}

.flex-container_r {
  display: flex;
  flex-direction: row;
  font-size: 30px;

}



.flex-item-left_r {
  padding: 10px;
  flex: 70%;
  font-family: Garamond, serif;
  font-size: 20px;
}
.flex-container .text3
{
  flex: 100%;
  text-align: center;
  font-size: 15px;
 
  font-family: Garamond, serif;
  color:#808080;
}



.flex-item-right_r {

  margin-top: 80px;
  flex: 30%;
  font-family: Garamond, serif;
  font-size: 20px;
}


.common-btn{
  padding: 18px 40px;
background-color: white;
outline: none;
border: 4px solid black;
font-weight: bold;
font-family: Garamond, serif;
font-size: 20px;
color: gold;
cursor: pointer;
}



@media screen and (max-width: 650px) {
  .back {
    width: 100%;


  }
}

@media screen and (max-width: 650px) {
  .back .text {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }
}

@media (max-width: 650px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .flex-container_r {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .wpb_wrapper {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }
}


@media screen and (max-width: 650px) {
  .flex-item-right {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }

 .flex-item-left_r .text2 {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }
  .flex-item-left_r .text2 h2 {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }
}

@media screen and (max-width: 650px) {
   .flex-item-right_r .common-btn {

    padding: 5px 10px;
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
  }}
  @media screen and (max-width: 650px){
  .flex-container .text3{
font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));

  }
}