.container {

    position: relative;
    border-radius: 5px;
    padding: 40px 60px;
    margin: 10px;
    overflow: hidden;
    background: gold;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.container #box {
    flex: 20%;
    text-align: center;
    border-radius: 5px;
    margin: 20px;

    background: white;
    padding-bottom: 10px;
    color: white;
}

.container #box img {
    align-items: center;
    background: transparent;
    height: 200px;
    width: 350px;
    object-fit: contain;

}
@media screen and (max-width: 650px) {
    .container #box img {
       width: 100%;
        height: 100%;
    }
}