.box-container {
    display: flex;
    flex-flow: column wrap;
}

.box-container h1 {
    margin-top: 3.5%;
    text-align: center;
    font-size: 180%;
    font-family: Garamond, serif;
    color: gold;
}

.box-container p {
    text-align: center;
    color: black;
}

.box-container .items {

    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.box-container .items .box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-color: gold;
    border-top-color: gold;
    width: 120%;
    position: relative;
    border-radius: .5rem;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row wrap;

}

.box-container .items .box img {
    height: 10%;
    width: 20%;
    object-fit: contain;
    margin-bottom: 2rem;
}

.box-container .items .box .fa-heart {
    position: absolute;
    right: 8%;
    top: 25%;
    height: 10%;
    width: 10%;;
    font-size: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.box-container .items .box .fa-heart:hover {
    color: gold;
}

.box-container .items .box .fa-eye {
    position: absolute;
    top: 8%;
    height: 10%;
    width:10%;
    border-radius: 5px;
    text-align: center;
    right: 8%;
    border: 2px solid black;
    font-size: 100%;
    color: black;
    background: #f3efef;
    cursor: pointer;
}

.box-container .items .box .fa-eye:hover {
    color: gold;
}


.box-container .items .box .flex {

    position: absolute;
    top: 5%;
    left: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

}

@media screen and (max-width: 450px) {
    #abc {
        margin-top: 5%;
        font-size: 80%;
    }

    #price_det {
        margin-top: 20%;
        font-size: 50%;
    }

    #gen {
        margin-top: 10%;
        font-size: 60%;
    }
    #addCart {
        top: 50%;
        padding:10px 10px;
        font-size:30%;
    }
    #addWish{
        border: 0px;

    }
    #redict
    { border: 0px;

    }

}

.box-container .items .box .flex .name {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 18px;
    font-family: Garamond, serif;
}

.box-container .items .box .flex .gen {

    margin-left: 10%;
    font-size: 14px;
    color: grey;
    font-family: Garamond, serif;
}

.box-container .items .box .flex .price {
    text-align: right;
    margin-top: 20%;
    margin-left: 10%;

    font-size: 18px;


}

.box-container .items .btn {
    padding: 20px 20px;
    position: absolute;
    top: 70%;
    height: 10%;
    width: 15%;
    left: 30%;
    background-color: transparent;
    outline: none;
    border: 2px solid gold;
    font-weight: bold;
    cursor: pointer;
}



@media screen and (max-width: 850px) {
    .box-container .items .box
    {
        width: 180%;
    }
    #addCart {
        left: 50%;
        width: fit-content;
        font-size: 60%;
    }
    #addWish{

        font-size: 60%;
    }
    #redict
    {

        font-size: 60%;
    }
}

.box-container .cart_details {
    margin: auto;
    height: 200px;
    width: 90%;
    border: 1px solid black;
}

.box-container .cart_details .price_details h2 {
    margin-bottom: 10px;
    margin-left: 20%;
}

.box-container .cart_details .price_details h3 {

    text-align: left;
    font-size: 150%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.box-container .cart_details .cart_details h4 {
    border-top: 1px solid black;
    text-align: start;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 800px;
    font-size: 150%;
}


