
.help {
    display: flex;
    flex-wrap: wrap;

}

.help img.photo {
    width: 30%;
    height: 30%;
    max-width: 50%;
    padding: 1% 5% 1% 5%;
    opacity: 0.9;
}
.help img.photo1 {
    width: 40%;
    height: 30%;
    max-width: 50%;
   padding-top: 4%;
    opacity: 0.9;
}
.help img.photo2 {
    width: 30%;
    height: 30%;
    max-width: 50%;
    padding: 1% 5% 1% 5%;
    opacity: 0.9;
}

.help img:hover {
    opacity: 1;
}

.help h1 {
    text-align: left;
    padding-left: 20%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 100%;
    color: black;

    width: 100%;
}

.help p {
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}