* {
    box-sizing: border-box;

}

.full-screen-container {
    background-image: url("imagesLogin/log.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    width: 50%;
}

.login-title {
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 100%;
    margin-bottom: 0;
}
.input-group p{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: white;
    font-weight: lighter;
    font-size: 100%;
    margin-bottom: 0;
    text-align: right;
}
.input-group .re a{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: lighter;
    font-size: 100%;
    margin-bottom: 0;
    text-align: right;

}
.login-button
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button button {
    padding: 2% 2%;
    border-radius: 5px;
    background-color: hsla(201, 100%, 50%, 0.1);
    outline: none;
    font-size: 100%;
    color: white;
    margin-top: 0;
    cursor: pointer;

}

@media (max-width: 650px) {

    .full-screen-container .login-container .login-title,.full-screen-container .login-container .input-group label,.full-screen-container .login-container .login-button {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
    }

}

.register{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    color: white;
}
.register .re a
{
    color: white;
    margin-left: 100px;
}