
#myvideo
{
    
    position: relative;
    top: 10px;
    bottom: 300px;
    right: 20px;
    left: 20px;
    width: 97%;
    height: 50%;
}
 
.new
{
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;

}
.new .item1
{
  width: 100%;
  margin: 10px;
  
}
.new .item
{
  width: 100%;
  margin: 10px;
}
.new .titlu
{

  text-align: center;
  padding: 50px;
}


.new h1:before,
.new h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.new h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.new h1:after {
  left: 0.5em;
  margin-right: -50%;
}


.new .parfumuri1
{
 

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.left-col1
{
  flex-basis: 60%;
}
.left-col1 img{
  width: 100%;
}

.right-col1
{
  flex-basis: 40%;
  text-align: right;
}
.right-col1 .text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}
.parfumuri1 .common-btn
{
padding: 18px 40px;
background-color: transparent;
outline: none;
border: 2px solid gold;
font-weight: bold;
cursor: pointer;
}
.parfumuri1 .text .cf{
  text-align: right;
}
.parfumuri1 .text .uu{
  text-align: center;
}
.new .parfumuri2
{
 padding-top: 50px;
 padding-bottom: 50px;
  padding: 100px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
.left-col2
{
  flex-basis: 50%;
  text-align: right;
  
}
.left-col2 .text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}

.right-col2
{
  flex-basis: 50%;
}
.right-col2 img{
  width: 100%;
}
.parfumuri2 .common-btn
{
padding: 18px 40px;
background-color: transparent;
outline: none;
border: 2px solid gold;
font-weight: bold;
cursor: pointer;
}
.parfumuri2 .text .cf{
  text-align: left;
}
.parfumuri2 .text .uu{
  text-align: center;
}
.item .parfumuri3
{
 
  padding-top: 50px;
  padding-bottom: 50px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.left-col3
{
  flex-basis: 60%;
}
.left-col3 img{
  width: 100%;
}

.right-col3
{
  flex-basis: 40%;
  text-align: right;
}
.right-col3 .text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
 
}
.parfumuri3 .common-btn
{
padding: 18px 40px;
background-color: transparent;
outline: none;
border: 2px solid gold;
font-weight: bold;
cursor: pointer;
}
.parfumuri3 .text .cf{
  text-align: right;
}
.parfumuri3 .text .uu{
  text-align: center;
}

