#myvideo
{
    
    position: relative;
    top: 10px;
    bottom: 300px;
    right: 20px;
    left: 20px;
    width: 97%;
    height: 50%;
}
 
.new
{
 
  display: grid;
grid-template-columns: auto auto;
gap: 10 px;

}
.new .titlu
{

  text-align: center;
  grid-column: 1/span2;
  padding: 50px;
}


.new h1:before,
.new h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

.new h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.new h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.new .parfumuri
{
  height: 300px;
  width: 700px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px 0px;
}
.new .parfumuri .img1
{
  position: relative;
  left: 100px;
}
.new .parfumuri .p1
{
  position: relative;
  left: 100px; 
}
