.box-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.box-container .box {
flex-basis: 24.2%;
    position: relative;
    border-radius: .5rem;
    padding: 70px 100px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box-container .box img {
    height: 20rem;
    width: 70%;
    object-fit: contain;
    margin-bottom: 2rem;
}

.box-container .box .fa-heart {
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
    left: 20px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.box-container .box .fa-heart:hover{
    color: gold;
}

.box-container .box .fa-eye {
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
    right: 20px;
    font-size: 40px;
    color: black;
    cursor: pointer;
}
.box-container .box .fa-eye:hover{
    color: gold;
}

.box-container .box .name {
    font-size: 18px;
    font-family: Garamond, serif;

}

.box-container .box .flex {
    display: grid;
    align-items:flex-end;
    margin-bottom: 10px;

}



.box-container .box .flex .price {
    text-align: right;
    margin-top: 10px;
    font-size: 18px;


}

.box-container .btn{
    padding: 18px 40px;
    background-color: transparent;
    outline: none;
    border: 2px solid gold;
    font-weight: bold;
    cursor: pointer;
}