body {
    font-family: "Book Antiqua";
}

.all {
    padding-top: 0;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.all .left {
    flex-basis: 40%;
}

.all .left img {
    width: 100%;
    padding-left: 50px;
}

.all .left img:hover {
    transform: scaleX(-1);
}

.all .right {
    flex-basis: 60%;
    text-align: right;
}

.all .right .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.all .right .details .titlu {
    width: 60%;
    font-size: 100%;
    padding: 20px;
}

.all .right .details .description {
    position: relative;
    text-align: center;
    width: 70%;
    height: 30%;
}

.all .right .details .some {
    display: flex;
    flex-wrap: wrap;
}

.all .right .details .some .prices {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.all .right .details .some .cw {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.all .right .details .some button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all .right .details .some .cart {
    position: relative;
    background: rgb(212 229 238);
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}

.all .right .details .some .wish {
    position: relative;
    background: rgb(212 229 238);
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}

.all .restall {
    display: flex;
    flex-wrap: wrap;
}

.all .rest {
    width: 100%;
    padding-top: 4%;
    padding-left: 3%;
    border-top: 1px solid black;
    height: auto;
}

.all .rest h1 {
    font-size: 150%;
    text-align: center;
}

.all .rest p {
    text-align: center;
}

.all .ingredients {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;

    text-decoration: underline;
}

.all .ingredients a {
    cursor: pointer;
    color: gold;
    font-size: 130%;
    font-family: Garamond, serif;
}

.all .restall .notes {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-left: 5%;
    font-size: 120%;
}

.all .restall .plus {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 120%;
}

.all .restall .plus .prod {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    justify-content: space-evenly;
    width: 100%;
}

.all .restall .plus .prod .prod1 {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    padding: 3%;
    justify-content: space-between;
    border: 1px solid black;
}

.all .restall .plus .prod .prod1 img {
    width: 100%;
    align-self: center;
    padding: 1% 20% 0 20%;
}

.all .restall .plus .prod .prod1 h1 {
    font-size: 100%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .all .restall .plus .prod {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 5%;

    }
}

@media screen and (max-width: 600px) {
    .all .restall .plus .prod .prod1 {
        width: 100%;
        border: 1px solid black;
    }
}

@media (max-width: 650px) {
    .all .right .details .titlu, .all .right .details .description, .all .rest h1, .all .plus h2, .all .notes h2, .all .rest p, .all .ingredients a, .all .restall .plus .prod .prod1 h1 {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));
    }

}





