body {
    font-family: "Book Antiqua";
    background-color: white;
}

.title h1{
    color: black;
    font-size: 30px;
    text-align: center;
    margin: 3%;
}
.all {


    height: 100%;
    width: 80%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    padding:50px;
    margin: auto;
    gap: 10px;
    border-radius: 5px;
    outline: 5px solid #CCC;
    border: 1px solid black;
    justify-content: space-around;

}

.all .left {
    flex-basis: 30%;
    width: 30%;
    height: 100%;
    background: #d6dfe5;
    padding-left: 0%;
    padding-top: 20px;
    float:left;
    text-align: left;
    vertical-align: top;

}
.all .right{
    flex-basis: 60%;
    width: 60%;
}
.all .right #start{
    text-align: center;
}
.all .right #start .image{

    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}
.all .right #personal_data{

    flex-basis: 55%;

margin-top: 25px;
    height: 70%;
   text-align: center;

    background-color: #d6dfe5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;


    width: 100%;
}
.all .right #personal_data .data{
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom:25px ;
    font-size: 20px;

}


.all .left ul{
    width: 95%;

}
.all .left ul li a{
    display: block;
    vertical-align: top;
    margin: 10%;
    border-bottom: 1px solid #0e0e0e;
    color: rgb(14, 14, 14);
    font-size: 25px;

}

.all .left ul li a .icon{
    color: #0e0e0e;
    width: 30px;
    display: inline-block;
}
.all .left ul li a:hover,
.all .left ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.all .left ul li a:hover .icon,
.all .left ul li a.active .icon{
    color: #0c7db1;
}

.all .left ul li a:hover:before,
.all .left ul li a.active:before{
    display: block;
}
@media (max-width: 650px) {
    .title h1,.title p  {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));

    }
    .all {
        height: 600px;
        width: 80%;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
padding: 0;
        gap: 10px;
        border-radius: 5px;
        outline: 5px solid #CCC;
        border: 1px solid black;
        justify-content: space-around;
    }
    .all .left {

        width: 50%;
        height: 100%;
        background: #d6dfe5;
        padding-left: 0%;
        padding-top: 5px;
        float:left;
        text-align: left;
        vertical-align: top;

    }
    .all .right{
        flex-basis: 50%;
        width: 50%;

    }

    .all .right #start{
        text-align: center;
    }

    #email,#lastname,#firstname {

        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 300));

    }


    .all .left ul{

        left:3%;
        position: relative;

    }
    .all .left ul li a{
        display: block;
        vertical-align: top;
        margin: 1%;
        border-bottom: 1px solid #0e0e0e;
        color: rgb(14, 14, 14);
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (650 - 400));

    }

    .all .left ul li a .icon{
        color: #0e0e0e;
        width: 30%;
        display: inline-block;
    }
    .all .left ul li a:hover,
    .all .left ul li a.active{
        color: #0c7db1;

        background:white;
        border-right: 2px solid rgb(5, 68, 104);
    }

    .all .left ul li a:hover .icon,
    .all .left ul li a.active .icon{
        color: #0c7db1;
    }

    .all .left ul li a:hover:before,
    .all .left ul li a.active:before{
        display: block;


    }
    .all .left ul li a
    {

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}
