.container {
    display: flex;
    flex-direction: column;
}
.container .titlu{
    width:100%;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.container  .continut  #tb{


    margin:auto;
    width: 80%;
    border:1px solid black;
    border-collapse: collapse;


}
.container  .continut  #tb_brand{


    margin:auto;
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;



}
.container  .continut  #tb_brand td,.container  .continut  #tb_brand th{
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
}
.container  .continut  #tb #nr{
    width: 10%;
    border:1px solid black;
    border-collapse: collapse;

}
.container  .continut  #tb #name{
    width: 40%;
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut  #tb #brand{
    width: 40%;
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut  #tb #nr{
    width: 10%;
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut  #tb #stock{
    width: 10%;
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut  #tb #price{
    width: 10%;
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut  td{
    border:1px solid black;
    border-collapse: collapse;
}
.container  .continut .tabel .row2{
    display: flex;
    flex-direction: row;
    height: 30px;
    border-bottom:1px solid black;


}
.container .continut  #tb{
    padding-bottom: 30px;
    padding-top: 30px;

}
.container .continut #tb .tabele{
    width: 80%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    background-color: #96D4D4;
    padding: 10px;
}
.container .continut #tb .tabele td,th{
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
}
container{
    display: flex;
    flex-direction: column;
}
.container .bott{
    height: 50px;
    width: 100%;
}
.container .bott .butns{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    text-align: center;

}
.container .bott .butns .btn{
    width: 15%;
    height:40px;
    cursor: pointer;
    background-color: #96D4D4;
    border:2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

