*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar{
    display: flex;
    align-items:center;
    padding: 10px;
    background-image: linear-gradient(rgb(13, 47, 71),rgb(212, 229, 238));
    height: 80px;
}

.active{
    background-color:aliceblue;
    border-radius: 30px;
    
}
/* Navbar links */
nav{
    flex: 1;
    text-align: right;
    margin-top: 20px;
    
}
a {
    
    text-align: right;
    padding: 10px;
    color:black;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    color: #000;
    opacity: 0.7;
  }
  .navbar .search-container {
    float: right;

  }
  
  .navbar input[type=text] {
    padding: 6px 10px;
    height: 30px;
    margin-top: 8px;
    margin-left: 120px;
    width: 300px;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
  }
  
  .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    height: 30px;
    margin-top: 8px;
    margin-right: 16px;

    background:white;
    font-size: 17px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
  }
  
  .navbar .search-container button:hover {
    background: #ccc;
   

  }
  
  @media screen and (max-width: 600px) {
    .navbar .search-container {
      float: none;
    }
 .navbar input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;

      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;     
    
    }
  }

#myvideo
{
    
    position: relative;
    top: 10px;
    bottom: 300px;
    right: 20px;
    left: 20px;
    width: 97%;
    height: 50%;
}
 
@media screen and (max-width: 600px) {
  .video h1 {
    font-size: 30px;
  }
}
.topnav {
    background-color: #f6f6f6;
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    position:relative;
    left: 150px;
    padding: 15px 20px;
    text-decoration: none;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: #000;
    opacity: 0.7;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: whitesmoke;
    text-decoration: underline overline;
    color:gold;
  }

  .new h1 {
    overflow: hidden;
    text-align: center;
  }
  
  .new h1:before,
  .new h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }
  
  .new h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .new h1:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .new{
      float: inherit;
  }
 .new .parfum1
  {
      position: relative;
      float: left;
      left: 50px;

  }
  .new  .parfum1 h3{
  
      float: right;
      position: relative;
      
     top:100px;
     left: -200px;
      
  }
  .new  .parfum1 p{
  
    float: right;
    position: relative;
    padding: 150px;
   top:10px;
   left: 100px;
    
}
  .new .parfum2
  {
    position: relative;
    float: right;
    right: 50px;
    padding: auto;
    top:550px;

  }
