*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}.bar{

  background-image: linear-gradient(rgb(4, 37, 58),rgb(85, 105, 142));
  
  }
  
  .navbar
  
  {
  
  display: flex;
  
  align-items: left;
  
  padding: 5px;
  
  }
  
  .logo{
  
  margin-left: 10px;
  
  }
  
  .logo img{
  
  width: 200px;
  
  }
  
  nav{
  
  flex: 1;
  
  text-align: right;
  
  }
nav ul{
  float: right;
  margin-right: 10px;
}
nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 0 0px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 20px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  .logo img{

    width: 70%;
    
    height: auto;
    
    object-fit: cover;
    
    }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 650px){
  .checkbtn{
    display: block;
  }
  ul{
    position: absolute;
    top:70 px;
    left: 0;
    width: 25%;
    
    background: #2c3e50;
    top: 20%;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 5px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 10px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
  
  .search
  {
  background: transparent;
  text-align: center;
}

  .softbox{
  position:relative;
  top: 27%;
	transition: border .2s linear;
	font-size: 12px;width: 100%;
	background: #f5f8fa;color: #0b2b41;
	padding: 8px 52px 8px 12px;	height: 32px;
	border: 1px solid #000203;border-radius: 50px;
	outline: none;
  }
.softbox:focus{
	transition: border .2s linear;
	border: 2px solid rgb(65, 64, 64);
  }
.softbtn{position: relative;
  left: 35%;
	font-size: 20px;color: #082f49;
	background-color: transparent;
	border:none;
	top: 3px;outline: none;
	padding: 4px;
  cursor: pointer;
  }
  
  
  .column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 50px; 
    background-color: #d6dfe5;
    text-align: center;
  
    /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
  }